body {
    font-family: 'Arial', sans-serif;
    background-color: #98FB98;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
#game {
    display: none;
}
h1, h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

label {
    font-size: 1.8em;
    color: #555;
}

select, button {
    width: 100%;
    padding: 10px;
    font-size: 1.5em;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
    box-shadow: none;
}

#answer {
    width: 50%; /* Reduced width */
    padding: 10px;
    font-size: 2em; /* Increased font size */
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px auto; /* Centering the input field */
    display: block; /* Making sure it takes up its own line */
    outline: none;
    box-shadow: none;
}

.checkboxLabel { 
    width: 50px;
    display: inline-table;
}

input[type="checkbox"] {
    vertical-align: middle;

    /* Double-sized Checkboxes */
    -ms-transform: scale(2.5); /* IE */
    -moz-transform: scale(2.5); /* FF */
    -webkit-transform: scale(2.5); /* Safari and Chrome */
    -o-transform: scale(2.5); /* Opera */
    transform: scale(2.5);
    padding: 10px;
}

button {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

#feedback {
    font-size: 3em;
    text-align: center;
    margin-top: 20px;
}

#question {
    font-size: 4em;
    margin-bottom: 20px;
    text-align: center;
}

.backLink {
    font-size: 1.2em;
    color: #3498db;
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
}

.backLink:hover {
    text-decoration: underline;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.backLink, #score {
    margin: 0;
    padding: 0;
}



/* ----------- clock -------------- */

.clock {
    width: 200px;
    height: 200px;
    border: 5px solid black;
    border-radius: 50%;
    margin: 20px auto;
    position: relative;
    background-image: url('clock.png') !important;
    background-size: contain;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: 50% 100%;
    transform: rotate(0deg);
    z-index: 1;
}

.hour {
    width: 6px;
    height: 50px;
    background: black;
    margin-left: -3px;
}

.minute {
    width: 4px;
    height: 90px;
    background: blue;
    margin-left: -2px;
}

.center-point {
    width: 12px;
    height: 12px;
    background: red;
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 2;
}

input[type="number"] {
    width: 60px;
    font-size: 1.2em;
    padding: 5px 10px;
}

#reply {
    width: 400px;
    margin: 10px auto; /* Centering the input field */
}

/* ====== index */



.splash-container {
    padding: 50px;
    text-align: center;
    animation: bounce 1s;
}

.activity-buttons {
    margin-top: 20px;
}

.activity-btn {
    display: inline-block;
    padding: 10px 30px;
    margin: 10px;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.activity-btn:hover {
    transform: scale(1.1);
}

.math-btn {
    background-color: #FFD700; /* Golden color */
    color: #4B0082; /* Indigo color */
}

.clock-btn {
    background-color: #20B2AA; /* Light sea green */
    color: #4B0082; /* Orange red */
}

.math-btn:hover {
    background-color: #FFA500; /* Orange color */
}

.clock-btn:hover {
    background-color: #2E8B57; /* Sea green */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}