<div class="container">
    <div class="header">
        <a href="/" class="backLink">Home</a>
    </div>
    <h1>๐ ุชุนูู ุงูุญุฑูู ุงูุนุฑุจูุฉ ๐</h1>
    <div dir="rtl">
        <span><input type="radio" id="sorted" name="letterType" value="sorted" checked> <label for="sorted">ูุฑุชุจ</label></span>
        <span><input type="radio" id="random" name="letterType" value="random"> <label for="random">ุนุดูุงุฆู</label></span>
        <br>
        <span><input type="checkbox" id="singleLetter" name="singleLetter" checked> <label for="singleLetter">ุญุฑู ูููุฑุฏ</label></span>
    </div>
    <h1 id="question"></h1>
    <br/>
    <button id="newQuestion">ุงูุชุงูู</button>
</div>

<style>
    #question {
        font-size: 195px;
    }
</style>

<%- contentFor('scripts') %>
<script src="/js/ar-alpha.js"></script>