<div class="container">
    <%- include('partials/header') %>
    <h1 id="question"></h1>
    <br/>
    <div class="button-container">
        <button id="lessThan" class="submitAnswer" data-answer="less">Less than <br> < </button>
        <button id="moreThan" class="submitAnswer" data-answer="more">More than <br> > </button>
    </div>
    <div class="button-container">
        <button id="newQuestion">New Question</button>
    </div>
    <%- include('partials/feedback') %>
</div>

<%- contentFor('scripts') %>
<script src="/js/operations.js"></script> 